body {
    background: linear-gradient(135deg, #1e1b4b, #3b0764, #000000);
    background-attachment: fixed; /* Para que no se mueva al hacer scroll */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(63, 58, 131);  */
    color: #e9d8fd;
}

/* 
body {
    background-color: #fffbf0;
    color: #e8bc7f; 
} */